{% extends "layout.html" %}

{% block title %}Arvostelun muokkaus{% endblock %}

{% block content %}
  <h2>Arvostelun muokkaus</h2>
  <form action="/update_item" method="post">
    <p>
      Albumi: <br />
      <input type="text" name="album" value="{{ item.album }}" maxlength="50" required />
     </p> 

      Artisti: <br />
      <input type="text" name="artist" value="{{ item.artist }}" maxlength="50" required />
    </p>

    <p>
      Arvostelu: <br />
      <textarea name="review" rows="8" cols="50" maxlength="1000" required>{{ item.review }}</textarea>
    </p>

    <p>
      Arvostele (1-10): <br />
      <input type ="text" name="review_points" min="1" max="10" required value="{{ item.review_points}}"/>
    </p>

  {% for class in classes %}
  <p>
    {{ class }}: <br />
    <select name="classes">
      <option value="">(valitse)</option>
    {% for option in classes[class] %}
      <option value="{{ class }}:{{ option }}">{{ option }}</option>
    {% endfor %}
  </select>
  </p>
  {% endfor %}

    <input type="hidden" name="item_id" value="{{ item.id }}" /> 
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
    <input type="submit" value="Päivitä arvostelu" />
  </form>
{% endblock %}