<!DOCTYPE html>
<html>

<head>
  <title>Etsi arvostelu</title>
</head>

<body>
  <h1>Etsi arvostelu</h1>

  <form action="/find_item" method="get">
  <p>
    Hakusana: <input type="text" name="query" value= "{{ query }}">
  </p>
  <input type="submit" value="Lähteä">
  </form>

<p>
  <a href ="/">Takaisin</a>a>
</p>

  {% if query %}
  <h2>Tulokset</h2>

  <ul>
    {% for item in results %}
    <li><a href ="/item/{{ item.id }}">{{ item.album }}</a></li>
    {% endfor %}
  </ul>
  {% endif %}
<body>

</html>
