<!DOCTYPE html>
<html>

<head>
  <title>Records</title>
</head>

<body>
  <h1>Records</h1>

  {% if session.get("username") %}
    <p>
      Olet kirjautunut nimellä {{ session.get("username") }}, id-numerosi on {{session.user_id}}
    </p>
  {% endif %}

  <p>
    <a href="/login">Kirjaudu sisään</a>
    <a href="/register">Luo tunnus</a>
    <a href="/logout">Kirjaudu ulos</a>
</p>

  <p>
    <a href="/new_item">Uusi arvostelu</a>

  </p>

  <h2>Arvostelut</h2>

  <ul>
    {% for item in items %}
    <li><a href="{{ url_for('show_item', item_id=item.id) }}">{{ item.album }}</a></li>

    {% endfor %}
  </ul>


</body>

</html>
