<!DOCTYPE html>
<html>

<head>
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="/static/main.css">
</head>

<body>
  <h1>Records</h1>

  {% if session.get("user_id") %}
  <p>
    Olet kirjautunut nimellä <a href="/user/{{ session.user_id }}">{{ session.get("username") }}</a>
  </p>
  {% endif %}

  <p>
    <a href="/">Etusivu</a> |
    <a href="/find_item">Etsi arvostelu</a> |
  {% if session.get("user_id") %}
    <a href="/new_item">Uusi arvostelu</a> |
    <a href="/logout">Kirjaudu ulos</a>
  {% else %}
    <a href="/login">Kirjaudu sisään</a> |
    <a href="/register">Luo tunnus</a>
  {% endif %}
  </p>

  {% for message in get_flashed_messages() %}
  <div class="flash flash-error">
    {{ message }}
  </div>
{% endfor %}

  {% block content %}{% endblock %}
</body>

</html>
