<!DOCTYPE html>
<html>

<head>
  <title>Uusi arvostelu</title>
</head>

<body>
  <h1>Uusi arvostelu</h1>
  <form action="/create_item" method="post">
    <p>
      Albumi: <br />
      <input type="text" name="album" maxlength="50" required />
     </p> 

      Artisti: <br />
      <input type="text" name="artist" maxlength="50" required />
    </p>

    <p>
      Arvostelu: <br />
      <textarea name="review" rows="8" cols="50" maxlength="1000" required></textarea>
    </p>

    <p>
      Arvostele (1-10): <br />
      <input type ="text" name="review_points" min="1" max="10" required/>
    </p>

    <p>
      Genre: <br />
      <select name="section">
        <option value="">(valitse</option>
        <option value="pop">pop</option>
        <option value="hiphop/rap">hiphop/rap</option>
        <option value="rock">rock</option>
        <option value="r&b/soul">r&b/soul</option>
        <option value="electronic/edm">electronic/edm</option>
        <option value="country">country</option>
        <option value="jazz">jazz</option>
        <option value="latin">latin</option>
        <option value="kpop">kpop</option>
        <option value="classic">classic</option>
        <option value="muut">muut</option>
      </select>

    </p>




    <input type="submit" value="Luo arvostelu" />
  </form>
</body>

</html>