{% extends "layout.html" %}

{% block title %}Arvostelun poisto{% endblock %}

{% block content %}
  <h2>Arvostelun poisto</h2>
  <p>Arvostelu: {{ item.album }}</p>
  <p>Haluatko varmasti poistaa tämän arvostelun?</p>
  <form action="/remove_item/{{ item.id }}" method="post">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
    <input type="submit" name="remove" value="Poista arvostelu">
    <input type="submit" name="back" value="Palaa takaisin">
    
  </form>
{% endblock %}