{% extends "layout.html" %}

{% block title %}{{ item.album }}{% endblock %}

{% block content %}

<h2>{{ item.album }}</h2>
{% if session.get("user_id") == item.user_id %}
<p>
  <a href ="/edit_item/{{ item.id }}">Muokkaa</a> |
  <a href ="/remove_item/{{ item.id }}">Poista</a> |
  <a href ="/images/{{ item.id }}">Kansikuva</a>
</p>
{% endif %}
{% if image %}
<img src="/image/{{ image.id }}" width="200">
{% else %}
  <p>Ei kuvaa</p>
{% endif %}

<p>
  Artisti: {{ item.artist }}
</p>
<p>
  Arvostelu: {{ item.review }}
</p>
<p>
  Arvosana (1-10): {{ item.review_points}}
</p>
<p>
  Arvostelija: <a href="/user/{{ item.user_id }}"> {{ item.username }}</a>
</p>

{% if classes %}
<p>
  Genret:
  <ul>
    {% for class_name, value in classes %}
      <li>{{ class_name }}: {{ value }}</li>
    {% endfor %}
  </ul>
</p>
{% endif %}

<h3>Kommentit</h3>
<ul>
  {% for bid in bids %}
  <li>{{ bid.comment_review}}, <a href="/user/{{ bid.user_id }}">{{ bid.username }}</a></li>
  {% endfor %}
</ul>
<h3>Uusi kommentti</h3>
<form action="/create_bid" method="post">
  Kommentti: <br />
  <textarea name="comment_review" rows="8" cols="45" maxlength="1000" required></textarea>
  <input type="hidden" name="item_id" value="{{ item.id }}">
  <input type="submit" value="Lähetä kommentti" />
</form>
{% endblock %}